<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>KWTool - Keyword Research Tool</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="<%= page_class_name(@conn) %>">
    <%= render KwtoolWeb.SharedView, "_nav.html", conn: @conn %>
    <main role="main" class="container">
      <%= render KwtoolWeb.SharedView, "_flash.html", conn: @conn %>
      <div class="container">
        <div class="row">
          <nav class="sidebar">
            <ul class="sidebar__nav">
              <li class="sidebar__item">
                <%= link "Dashboard", class: "sidebar__link", to: Routes.home_path(@conn, :index) %>
              </li>
              <li class="sidebar__item">
                <%= link "Upload", class: "sidebar__link", to: Routes.upload_path(@conn, :index) %>
              </li>
            </ul>
          </nav>
          <div class="content">
            <%= @inner_content %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
