<h1>Show Keyword</h1>

<ul>

  <li>
    <strong>Phrase:</strong>
    <%= @keyword.phrase %>
  </li>

  <li>
    <strong>Raw result:</strong>
    <%= @keyword.raw_result %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @keyword.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.keyword_path(@conn, :edit, @keyword) %></span>
<span><%= link "Back", to: Routes.keyword_path(@conn, :index) %></span>
