.keyword-detail {
  margin: rem(40px 0);

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__title {
    font-weight: $xbold-weight;
    margin-left: rem($default-margin);

    &::before {
      content: fa-content($fa-var-gem);
      display: inline-block;
      font-family: $icons-font-family;
      padding-right: rem($default-padding);
      vertical-align: middle;
    }
  }
}
