.keyword-detail {
  margin: rem(40px 0);

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @include make-col-ready();

    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
  }

  &__title {
    font-weight: $xbold-weight;

    &::before {
      content: fa-content($fa-var-gem);
      display: inline-block;
      font-family: $icons-font-family;
      padding-right: rem($default-padding);
      vertical-align: middle;
    }

    @include make-col-ready();

    @include media-breakpoint-up(xs) {
      @include make-col(8);
    }
  }

  &__count {
    @include make-col-ready();

    @include media-breakpoint-up(xs) {
      @include make-col(4);
    }
  }
}
