{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "scss/at-rule-no-unknown": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "apply",
          "each",
          "else",
          "extend",
          "function",
          "if",
          "include",
          "return",
          "tailwind",
          "layer",
          "screen"
        ]
      }
    ]
  }
}
