body.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white-smoke;

  // Override the Bootstrap stylesheets
  .invalid-feedback {
    display: block;
  }
}
